<h2>MaMoDaR: Management Molekularer Daten im Research Data Life Cycle</h2>
<p >Das Projekt „MaMoDaR“ hat als Ziel, den effizienten und nachhaltigen Umgang mit Forschungsdaten zu ermöglichen. Es wird vom <a href="https://www.rki.de/DE/Content/Institut/OrgEinheiten/MF/MF4/mf4_node.html" target="_blank">Robert Koch-Institut</a> in Kooperation mit der <a href="https://www.fh-potsdam.de/studium-informationswissenschaften/" target="_blank">Fachhochschule Potsdam</a> realisiert.</p>
<p>MaMoDaR nutzt zwei Module: den RDMO und den <a href="http://datalinker.h2888668.stratoserver.net/" target="_blank">DataLinker</a>.</p>
<h3>Willkommen beim RDMO</h3>
<p> Mit dem Research Data Management Organiser (RDMO) können Institutionen und Forschende das Forschungsdatenmanagement ihrer Projekte strukturiert planen und durchführen. Es erlaubt das Erfassen aller relevanten Planungsinformationen  in Datenmanagementplänen und die Verwaltung von Metadaten und allen Datentyp abhängigen Aufgaben (z.B. rechtliche Zuordnungen wie Datenschutz / Patente, Umgang mit sensiblen Daten im Sinne von Dual Use oder strategische Entscheidungen bzgl. Speicherplanung der IT)  über den gesamten Datenlebenszyklus.</p>
<p>Wenn Sie mehr über RDMO erfahren wollen, besuchen Sie <a href="https://rdmorganiser.github.io" target="_blank">rdmorganiser.github.io</a>.</p>


