/* colors */

$text-color: rgba(0, 0, 0, 0.87);
$variant-color: rgba(0, 0, 0, 0.87);
$background-color: #ffffff;

$headline-color: #000000;
$headline-background-color: transparent;

$link-color: #003f97;
$link-color-visited: #003f97;
$link-color-hover: #000000;
$link-color-focus: #000000;

$navigation-color: #ffffff;
$navigation-background-color: #003f97;
$navigation-hover-color: #fffff;
$navigation-hover-background-color: ffffff;
$navigation-dropdown-color: #003f97;
$navigation-dropdown-hover-color: #003f97;
$navigation-dropdown-hover-background-color: #003f97;

$footer-color: #000000;
$footer-link-color: #000000;
$footer-background-color: #DCDCDC;

$danger-color: #97003f;
$success-color: #00973f;
$primary-color: #003f97;
$modal-border-color: #DCDCDC;

/* transitions */

$image-transition: opacity 2s ease-in-out;

/* responsive thresholds */

$screen-xs-max: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1200px;
