{% load i18n %}
{% load rules %}
{% load core_tags %}

<h2>{% trans 'Options' %}</h2>
<ul class="list-unstyled">
    <li>
        <a style = "font-weight: bold" href="{% url 'project_questions' project.pk %}">{% trans 'Answer questions' %}</a>
    </li>
    <li>
        <a href="{% url 'projects' %}">{% trans 'Back to projects overview' %}</a>
    </li>
</ul>


<h2></h2>

{% if settings.PROJECT_EXPORTS %}
<h2>{% trans 'Export' %}</h2>

<ul class="list-unstyled">
    {% for key, label, class in settings.PROJECT_EXPORTS %}
    <li >
        <a href="{% url 'project_export' project.pk key %}" target="_blank">
            {{ label }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if settings.PROJECT_IMPORTS %}

<h2>{% trans 'Import values from file' %}</h2>

<ul class="list-unstyled">
    <li>
        {% url 'project_update_upload' project.id as upload_url %}
        {% include 'core/upload_form.html' with upload_url=upload_url %}
    </li>
</ul>

{% endif %}
