{% load i18n %}
{% load rules %}
{% load core_tags %}
<!-- CHANGE remove unused menu item -->
<h2>{% trans 'Options' %}</h2>

{% has_perm 'projects.change_project_object' request.user project as can_change_project %}
{% has_perm 'projects.delete_project_object' request.user project as can_delete_project %}
{% if can_change_project or can_delete_project %}

<ul class="list-unstyled">

    <li>
        {% if can_change_project %}
        <a style = "font-weight: bold" href="{% url 'project_questions' project.pk %}">{% trans 'Answer questions' %}</a>
        {% else %}
        <a style = "font-weight: bold" href="{% url 'project_questions' project.pk %}">{% trans 'View questions' %}</a>
        {% endif %}
    </li>
    <li>
        <a href="{% url 'projects' %}">{% trans 'Back to projects overview' %}</a>
    </li>
</ul>
{% has_perm 'projects.export_project_object' request.user project as can_export_project %}
{% if settings.PROJECT_EXPORTS and can_export_project %}
<h2>{% trans 'Export' %}</h2>

<ul class="list-unstyled">
    {% for key, label, class in settings.PROJECT_EXPORTS %}
    <li >
        <a href="{% url 'project_export' project.pk key %}" target="_blank">
            {{ label }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% has_perm 'projects.export_project_object' request.user project as can_export_project %}
{% if settings.PROJECT_IMPORTS and can_export_project %}

<h2>{% trans 'Import values from file' %}</h2>

<ul class="list-unstyled">
    <li>
        {% url 'project_update_upload' project.id as upload_url %}
        {% include 'core/upload_form.html' with upload_url=upload_url %}
    </li>
</ul>

{% endif %}
